@page "/todo"

<h1>Todo (@todos.Count(todo => !todo.IsDone))</h1>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" />
        </li>
    }
</ul>

<input placeholder="Something todo" @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>

@code {
    private List<TodoItem> todos = new(); //adds a private field for todolist
    private string newTodo; //title of the todo string

    private void AddTodo() //method used for the todo list which is called from the button @onclick
    {
        if (!string.IsNullOrWhiteSpace(newTodo)) //checks if string entered is not null or whitespace
        {
            todos.Add(new TodoItem { Title = newTodo }); //adds the todo string
            newTodo = string.Empty; //creates an empty string
        }
    }
}
